/build
/build_new
/build_node_modules
/node_modules
/dist
/dist_node_modules
/dist_node_modules_backup
/dist_node_modules_backup_2
/dist_node_modules_backup_3
/dist_node_modules_backup_4
/dist_node_modules_backup_5
/dist_node_modules_backup_6
/build_node_modules_backup
/build_node_modules_backup_2
/build_node_modules_backup_3
/build_node_modules_backup_4
/build_node_modules_backup_5
/build_node_modules_backup_6
/build_node_modules_backup_7
/build_node_modules_backup_8
/build_node_modules_backup_9
/build_node_modules_backup_10